
<footer class="container-fluid shadow">

    <section class="row justify-content-between footer_section">

        <div class="col-md-4 perma_link">
            <ul class="col-12 row justify-content-between links">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Recrutement</a></li>
            </ul>


            <ul class="col-6 row justify-content-between social_media">
                <li>Suivez-nous :</li>
                <li><a href="#"><img src="/assets/images/facebook_logo.png" alt="facebook"></a></li>
                <li><a href="#"><img src="/assets/images/twitter_logo.png" alt="twitter"></a></li>
                <li><a href="#"><img src="/assets/images/youtube_logo.png" alt="youtube"></a></li>
            </ul>
        </div>

        <div class="col-md-4 cat_logo">
            <img src="/assets/images/Cat100Cat2.png" alt="logo_team" class="logo_team">
        </div>


        <div class="col-md-2 mr-5 address">
            <div class="team_address">
                <p class="nous_trouver">Nous trouver</p>
                <div class="google_maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.0300007812607!2d-0.5631052491667946!3d44.84132238270667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527cba74d1bdf%3A0xb92bcdcad0920688!2sWild+Code+School%2C+Formation+d%C3%A9veloppeur+web!5e0!3m2!1sfr!2sfr!4v1555613219488!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <p>9 Allée de Serr , 33100 Bordeaux</p>
            </div>

        </div>



    </section>

</footer>
