{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css">
{% endblock %}

{% block content %}
    <section class="row condecss" >
    <div class="col-6">
        EggClash est un jeu produit par 4 développeurs.
        Juste après que les cloches soient passées, il est temps de confronter les oeufs que l'on a récupéré.
        C'est un jeu de combat. Le personnage, une fois choisi, se défendra avec un oeuf qui devra confondra un deuxième
        œuf.
    </div>
    <div class="offset-4" >
        <img src="" alt="">
    </div>
    <div class="offset-4">
        La première étape, tu devras choisir ton avatar.
    </div>
    <div class="col-6">
        <img src="" alt="">
    </div>
    <div class="col-6">
        Pour la deuxième étape tu vas devoir choisir 5 oeufs suivant leurs caractéristiques. À toi de faire le bon choix !
    </div>
    <div class="col-6">
        <img src="" alt="">
    </div>
    <div class="offset-4">
        Et enfin l'ultime étape, c'est le combat !!
    </div>
    </section>
{% endblock %}
