{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css">
{% endblock %}

{% block content %}
    <section class="row condecss" >
        <h1 class="col-12 text-center mb-5">Bonjour {{ session.nickname }} !</h1>

    <div class="bloc_test col-12">
        <div class="txt">
           <p> EggClash est un jeu produit par 4 développeurs.
            Juste après que les cloches soient passées, il est temps de confronter les oeufs que l'on a récupéré.
            C'est un jeu de combat. Le personnage, une fois choisi, se défendra avec un oeuf qui devra se mesurer à un deuxième
               œuf.</p>
        </div>
        <div>
            <img src="/assets/images/Cat100Cat2.png" alt="" class="img_description">
        </div>
    </div>

    <div class="bloc_test1">
        <div class="txt2">
         La première étape, tu devras choisir ton avatar.
        </div>
        <div>
            <img src="/assets/images/etape1.png" alt="" class="img_etape_g height: 150px; width: 200px;">
        </div>
    </div>

    <div class="bloc_test1">
        <div>
            <img src="/assets/images/etape2.png" alt="" class="img_etape_d">
        </div>
        <div  class="txt">
            Pour la deuxième étape tu vas devoir choisir 5 oeufs suivant leurs caractéristiques. À toi de faire le bon choix !
        </div>
    </div>

    <div class="bloc_test">
        <div>
            <img src="/assets/images/etape3.png" alt="" class="img_etape_3 height: 250px; width: 300px;">
        </div>
        <div  class="txt2">
             Et enfin l'ultime étape, c'est le combat !!
        </div>
    </div>


    </section>
{% endblock %}
