.navigation {
    background-color: #D0B17A;

}

.navigation img{
    height: 150px;
    width: auto;
}

.navigation > a {
    color: #41521F !important;
    margin-right: 100px;
    margin-top: 65px;
}

.navigation li a {
    color: #41521F !important;
    padding-top: 60px;
}




