{% extends 'layout.html.twig' %}
{% block title %}Liste{% endblock %}

{% block content %}
    <h2>Liste de vos decks</h2>
    <section class="row justify-content-center">
        {% if decks is empty %}
            <h3 class="col-12 text-center">Vous n'avez pas de deck.</h3>
        {% else %}
            {% for deck in decks %}
                <div class="card col-12 col-mb-4">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ deck.lord.image}}" class="card-img" alt="lord image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ deck.name }}</h5>
                                <p class="card-text">{{ deck.lord.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="col-12 text-center">
            <a href="/deck/add" class="btn btn-dark">Créer un deck !</a>
        </div>
    </section>
{% endblock %}
